* {
    box-sizing: border-box;
}

html, body, h1, h4, p {
    margin: 0;
    box-sizing: border-box;
    font-family: Aril, Tahoma, sans-serif;
}

a {
    color: deepskyblue;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: space-between;
}

.nowrap {
    flex-wrap: nowrap;
}

.header {
    background-color: green;

}

.header__h1 {
    color: white;
    font-size: 25px;
    padding: 10px;
}

aside {
    background-color: #ccc;
    flex-grow: 1;
    width: 25%;
    padding: 10px;
}

.aside__category {
    font-weight: bolder;
    font-size: 14px;
    word-wrap: break-word;
}

ul {
    margin: 5px 0;
    padding-left: 15px;
}

li {
    list-style-type: none;
}

.main {
    margin-left: 10px;
    flex-grow: 3;
    width: 75%;
    margin-bottom: 50px;
}

.main__h2 {
    margin: 0;
    padding: 10px 10px 0 10px;
    font-size: 25px;
}

.main__p {
    padding: 0 10px 10px 10px;
}

.main__fish {
    padding: 10px;
    margin: 10px;
    flex-basis: calc(49% - 20px);
    background-color: #ccc;
}

.popular {
    margin: 20px 0;
    padding-left: 10px;
    font-size: 25px;
    font-weight: bolder;
}

.fish-card {
    flex-wrap: wrap;
    justify-content: space-around;
}

.fishcard__item {
    flex-basis: 30%;
    padding: 10px;
    display: flex;
    background-color: #ccc;
    margin: 15px 0;
}

.fishcard__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.fishcard__img {
    width: 75px;
    height: 75px;
    background-color: #44525e;
}

footer {
    background-color: #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.footer__link {
    text-decoration: none;
    color: #44525e;
}

@media screen and (max-width: 755px) {
    .main__fish {
        flex-basis: 100%;
        min-width: auto;
        text-align: center;
    }

    ul {
        padding-left: 0px;
    }
}

@media screen and (max-width: 478px) {
    .fishcard__item {
        flex-basis: 70%;
    }

    .fish-card {
        justify-content: center;
    }
}
